:root {
  --grey-color: #383838;
  --font-color: rgb(17, 17, 17);
}

body {
  background-image: url('../src/images/Star\ Wars\ Space\ Background\ HQ.jpeg');
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

#logo {
  width: 20rem;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.menu {
  /* background-color: rgba(102, 102, 102, 0.25); */
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.menu-button {
  color: white;
  text-transform:uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(102, 102, 102, 0.2);
  border-radius: 1rem;
}

.menu-button:hover {
  border: 2px #ffd0d0 solid;
  box-shadow: 0 0 30px #f00, 0 0 30px #f00;
}